flask
psycopg2-binary
flask-sqlalchemy
flask-migrate
dotenv
langchain_google_genai
google-cloud-vision
google-cloud-storage
google-cloud-datastore
grpcio
langchain
langchain-community
pillow 
fpdf
python-dotenv
gunicorn
flask-cors
Werkzeug
pytest 
pytest-mock
pytest-cov
flask-cors 
flask-login 
requests